header .titleText {
display: flex;
flex-direction: column;
align-items: center;
    h1 {
        color: $accent;
        margin-bottom: -5rem;
        font-size: 3rem;
        margin-top: -4rem;
    }
    h2 {
        color: $cyan;
        font-size: 1.5rem;
        text-align: left;
        margin-left: 1rem;
        margin-top: -0.5rem;
    }
}

.bolt {
    transform: rotate(25deg);
    margin-top: 0.5rem;
}


