body {
    background-color: $black;
    // transition for light/dark mode
    transition: all 500ms;
}

/* =========================
 *  Skip-link
 * ======================== */

// Skip link to skip to main content, hidden unless focused
.skip-link {
    position: absolute;
    right: 50%;
    transform: translateY(-150%);
    transition: transform 0.3s;
    font-family: $body-font, sans-serif;
    background-color: $white;
    color: $black;
    height: 3rem;
    padding: 0.5rem;
}

.skip-link:focus {
    transform: translateY(0%);
}

/* =========================s
 * USER INPUT SECTION
 * ======================== */

.searchCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.userInput {
    padding-top: 3rem;
    min-height: 100vh;
    background-color: $white;
    display: flex;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        @media (min-width: 900px) {
            flex-direction: row;
        }
    }
}

.jobSearchHeader {
    color: $black;
}

input {
    border: none;
    border-radius: 30px;
    font-family: $body-font, sans-serif;
    font-size: clamp(0.9rem, 3vw, 1rem);
    padding: 1rem;
    min-width: 12rem;
    text-align: center;
    background-color: $white;
}

.userParameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.submitButton {
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    border: none;
    background-color: $accent;
    border-radius: 30px;
    width: 100%;
    &:hover{
        background-color: $black;
        color: $white;
    }
}

 /* =========================
 * RESULTS SECTION
 * ======================== */

.results {
    min-height: 100vh;
}

.resultsHeader {
    @media (min-width: 900px) {
        padding: 2rem;
    }
}

.resultsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
}

.jobsList {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    padding-bottom: 3rem;
    li {
        border: 2px solid $accent;
        padding: 1rem 1rem 1.5rem 1rem;
        border-radius: 30px;
    }

    a {
        font-family: $heading-font, monospace;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.0625rem;
        font-size: 1.25rem;
        text-align: center;
        line-height: 2rem;
        color: $black;
        background-color: $accent;
        padding: 0.5rem 2rem;
        border-radius: 30px;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}

.sorting {
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    @media (min-width: 900px) {
        padding-bottom: 3.5rem;
    }
    select {
        background-color: $white;
        color: $black;
        font-family: $body-font, sans-serif;
        padding: 0.7rem;
        text-align: center;
        border-radius: 30px;
        border-style: none;
    }
    p {
        margin: 0;
    }
}

.sortResults {
    background-color: $white;
}

.previousPage {
    opacity: 0.3;
    pointer-events: none;
}

.pageButtons {
    display: flex;
    gap: 0.5rem;
    button {
        border-radius: 30px;
        padding: 0.4rem 1rem;
        text-align: center;
        border-style: none;
        background-color: $white;
    }
}
