/* =========================
 *  Font family
 * ======================== */

 $heading-font: 'Source Code Pro';
 $body-font: 'Montserrat';

 /* =========================
 *  Font colors
 * ======================== */

 $accent: #FF8552;
 $black: #2D3047;
 $white: #f6f6f6;
 $lightAccent: #f7e1ce;