/* =========================
 *  Font family
 * ======================== */

 $heading-font: 'Source Code Pro';
 $body-font: 'Montserrat';

 /* =========================
 *  Font colors
 * ======================== */

 $accent: #FF8552;
 $cyan: #21D19F;
 $turquoise: #45B69C;
 $black: #1f1f1f;
 $white: #f6f6f6;